/*  your css code here. If applicable */
body{
	background-color: rgb(204, 204, 204);
}
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
li{
	list-style-type: none
}
a{
	text-decoration-line: none
}
